* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gryffindor-color1: #740001;
  --gryffindor-color2: #eeba30;
  --gryffindor-color-hover: #eebb30b7;
  --gryffindor-background: #1b0101;
  --ravenclaw-color1: #0e1a40;
  --ravenclaw-color2: #946b2d;
  --ravenclaw-color-hover: #946b2db0;
  --ravenclaw-background: #050e1a;
  --hufflepuff-color1: #ecb939;
  --hufflepuff-color2: #000000;
  --hufflepuff-color-hover: #ecb93994;
  --hufflepuff-background: #1d1d1d;
  --slytherin-color1: #1a472a;
  --slytherin-color2: #aaaaaa;
  --slytherin-color-hover: #aaaaaaa1;
  --slytherin-background: #011b11;
  --main-font: "Jim Nightshade", cursive;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: var(--main-font);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 1rem;
  background-color: rgba(235, 235, 235, 0.774);
  padding: 1rem;
}

li:hover {
  background-color: rgb(255, 255, 255);
}

h1 {
  margin: 1rem;
}

button {
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
  border-style: none;
  background-color: rgb(14, 26, 44);
  color: rgb(255, 255, 255);
}

button:hover {
  cursor: pointer;
  background-color: rgb(26, 47, 78);
}

.nameDisplay {
  display: flex;
  flex-wrap: wrap;
}

#prefect,
#inqSquad {
  margin-left: 10px;
}

#search input[type="text"] {
  padding: 10px;
  margin-top: 8px;
  margin: 1rem;
  font-size: 1rem;
  border: none;
}

#search {
  justify-self: end;
}
/* #list_information {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  justify-content: space-between;
} */

#list_information {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#list {
  max-width: 1200px;
  margin: 0 auto;
}
#list_information button {
  background-color: rgb(30, 46, 70);
  color: rgb(255, 255, 255);
}

#list_information button:hover {
  background-color: rgb(17, 27, 41);
}
#numberShown {
  margin: 1rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
}

#filterGroup {
  margin: 1rem;
}
#shown {
  margin: 1rem;
  justify-self: end;
}

#sorting {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 1rem;
  order: 1;
}
#list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 2vw;
}

#buttonGroup {
  display: flex;
  flex-wrap: wrap;
}

#popup {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.content {
  width: 70vw;
  min-height: 80%;
  margin: 4rem auto;
  padding: 10px;
}

.close {
  position: absolute;
  width: 70vw;
  background: transparent;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 200;
  text-align: right;
  padding-right: 2rem;
  margin: 5rem auto;
}

.close:hover {
  background-color: transparent;
}

.content[data-selected="gryffindor"] {
  padding: 1rem;
  color: var(--gryffindor-color2);
  background-color: var(--gryffindor-background);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to left, var(--gryffindor-color1), var(--gryffindor-color2)) 30 stretch;
}

.content[data-selected="ravenclaw"] {
  padding: 1rem;
  color: var(--ravenclaw-color2);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to left, var(--ravenclaw-color1), var(--ravenclaw-color2)) 30 stretch;
  background-color: var(--ravenclaw-background);
}

.content[data-selected="slytherin"] {
  padding: 1rem;
  border-width: 5px;
  border-style: solid;
  color: var(--slytherin-color2);
  background-color: var(--slytherin-background);
  border-image: linear-gradient(to left, var(--slytherin-color1), var(--slytherin-color2)) 30 stretch;
}

.content[data-selected="hufflepuff"] {
  padding: 1rem;
  color: var(--hufflepuff-color1);
  background-color: var(--hufflepuff-background);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to left, var(--hufflepuff-color1), var(--hufflepuff-color2)) 30 stretch;
}

.crestWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.expel {
  background-color: rgb(68, 29, 29);
}

.expel:hover {
  background-color: rgb(100, 50, 50);
}
.close[data-selected="gryffindor"] {
  color: var(--gryffindor-color2);
}

.close[data-selected="ravenclaw"] {
  color: var(--ravenclaw-color2);
}

.close[data-selected="slytherin"] {
  color: var(--slytherin-color2);
}

.close[data-selected="hufflepuff"] {
  color: var(--hufflepuff-color1);
}

.close[data-selected="gryffindor"]:hover {
  color: var(--gryffindor-color-hover);
}

.close[data-selected="ravenclaw"]:hover {
  color: var(--ravenclaw-color-hover);
}

.close[data-selected="slytherin"]:hover {
  color: var(--slytherin-color-hover);
}

.close[data-selected="hufflepuff"]:hover {
  color: var(--hufflepuff-color-hover);
}
.crest {
  width: 10vw;
  margin-top: 1rem;
}

/******** DIALOG styling **********/

.dialogBox {
  display: none;
}

.dialogBox.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogContent {
  background-color: rgb(12, 57, 73);
  padding: 10vw;
  position: relative;
}

.dialogBox h1 {
  margin: 0;
  font-size: 2rem;
  color: rgb(255, 236, 183);
  font-weight: lighter;
}

.dialogBox h2 {
  margin: 0.5em 0;
  font-size: 1.9rem;
  color: rgb(255, 236, 183);
  font-weight: lighter;
}

.dialogBox .closebtn {
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: rgb(233, 233, 233);
}

.dialogBox .closebtn:hover {
  color: rgb(107, 107, 107);
}

.student1,
.student2 {
  font-size: 1.7rem;
  color: rgb(255, 236, 183);
  font-family: var(--main-font);
}
button[data-action="remove1"],
button[data-action="remove2"] {
  background-color: rgb(1, 25, 34);
  color: rgb(255, 236, 183);
}

button[data-action="remove1"]:hover,
button[data-action="remove2"]:hover {
  background-color: rgb(42, 92, 110);
}
.prefectBadge {
  height: 25px;
  width: 25px;
  line-height: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.prefectBadge[data-house="gryffindor"] {
  color: var(--gryffindor-color2);
  background-color: var(--gryffindor-color1);
}

.prefectBadge[data-house="ravenclaw"] {
  color: var(--ravenclaw-color2);
  background-color: var(--ravenclaw-color1);
}

.prefectBadge[data-house="slytherin"] {
  color: var(--slytherin-color2);
  background-color: var(--slytherin-color1);
}

.prefectBadge[data-house="hufflepuff"] {
  color: var(--hufflepuff-color1);
  background-color: var(--hufflepuff-color2);
}

.inqSquadBadge {
  height: 25px;
  width: 25px;
  line-height: 1.5rem;
  background-color: #000000;
  border-width: 1px;
  color: #c2c2c2;
  border-style: solid;
  margin: 1px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
